<div id="howto">
  <img id="howtoimg" src="/img/howto.png" alt="selfcare">
  <br />
  <br />
  <div id="howtobutton">
  <button id="create" class="bn54">
    <div class="bn54span">Sign Up</div>
  </button>
  </div>
</div>
<script type="text/javascript">
  document.getElementById("create").onclick = function () { location.href =
  "/createAccount"; }
</script>