<form action='/moodNotes' method="POST">

    <div id="mood-notes-question">
        anything else to add?
    </div>
    <br>

    <div id="mood-notes">
        <textarea id="notes" name='notes' rows="5" cols="75" placeholder=""></textarea>
    </div>
    <button id="logmood" type="submit" class="bn54">
        <span class="bn54span">Log Mood</span>
    </button>
</form>