<div id="userProfile">  
 <table id="userTable" style="width:100%">
  <tr>
    <th>Welcome {{name}} !</th>
    </tr>
    <tr>
    <th><img id="at" src="/img/at.png" alt="at"> {{email}}</th>
    </tr>
    <tr>
    <th>Days Tracked: {{daysTracked}}</th>
    </tr>
  </tr>
</table> 
</div>